@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 13rem;
}
.imgDiv {
    background-image: url(images/christin-hume-hBuwVLcYTnA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 40rem;
    min-height: 34rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem grey;
}
.welcome {
    box-shadow: 0.2rem 0.2rem 0.4rem grey;
    padding: 2rem;
}
.welcome div {
    margin-bottom: 1rem;
}
/* This 70/30 only works for tablet/laptop screens, use @media for smaller */
.yourProjects {
    /* grid-column: 2/3;
    grid-row: 2/5; */
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #D8E2EC;
    padding: 2rem;
    font-size: 2rem;
    flex: 1; /* This property is what makes the project div fill remaining height space, do not delete */
}
/* I need to change the grid-template-columns & min_height using @media
Ok, i think auto-fit fixed it for all sizes so don't need media for it
*/
.projectArea {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-top: 1rem;
    gap: 2rem;
    margin-right: 2rem;
}
.projectArea > div {
    background-color: white;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    border-bottom-right-radius: 0.5rem;
    min-height: 25rem;
}
.projectSummary {
    padding: 1.2rem;
    text-align: justify;
    font-size: 1.5rem !important;
}
img {
    height: 60%;
    width: 100%;
    object-fit: fill;
}
.rightSidebar {
    grid-column: 2/3;
}
.announcements {
    display: grid;
    grid-template-rows: repeat(3, fr);
    background-color: white;
    padding: 1.5rem;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem !important;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
}
li img {
    margin-right: 8%;
}
a {
    text-decoration: none;
}
